.mushroomcard {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f5ff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(120, 0, 200, 0.15);
    transition: transform 0.2s ease;
    color: black;
   
  }
  .mushroomcard:hover {
    transform: scale(1.02);
  }
  .mushroomcard img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
    display:flex;
  }
  